* {
  box-sizing: border-box;
  /* outline: #f66 solid 1px; */
}

body {
  font-family: sans-serif;
  /* background-color: #cad3d3; */
  color: #212121;
  line-height: 1.5;
}

/* img {
  display: block;
  max-width: 100%;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* .list {
  padding: 0;
  list-style: none;
} */

p {
  margin: 0;
}

.link {
  text-decoration: none;
}

.container {
  width: 100%;
  padding: 5px;
}

.header {
    background-color: #000000;
}

.header .container {
  display: flex;
  padding: 13px 15px;
  background-color: transparent;
}

.main {
  background-color: #f5f8f7;
}

.logo {
  color: #e2e2e1;
  font-size: 20px;
  margin: auto 0;
}

.logo-first {
  color: #66d4f5;
}

.site-nav {
  margin-left: auto;
}

.site-nav__element {
  color: #e2e1e1;
 
  padding: 3px 5px 0 5px;
  width:auto;
  height: 30px;
}

.site-nav__element:hover,
.site-nav__element:active {
  background-color: #616161;
}

.language {
  cursor: pointer;
}

.title {
  font-size: 15px;
  margin-bottom: 10px;
  text-align: center;
}

.description {
    font-size: 12px;
    margin-bottom: 15px;
    /* margin-bottom: 12px; */
    text-align:justify;
}

.description-box {
  background-color: #ececeb;
  /* margin: 0 25px 15px 25px; */
  padding:5px 25px;
  width: auto;
  overflow: auto;
}

/* .method-description {
  font-size: 13px;
} */

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

.form__choice-wrapper {
  display: flex;
  margin: 0 auto;
}

.form__format-choice:not(:first-child) {
  margin-left: 15px;
}


.textarea-input {
    font-family: system-ui;
    font-size: 15px;
    background-color: #f5f9fc;
    border: 2px solid #000000;
    padding: 10px;
    height: 150px;
    resize: none;
}

.textarea-output {
  font-family: system-ui;
  font-size: 15px;
  width: 1000px;
  height: 150px;
  background-color: #f6fafd;
  border: 2px solid #000000;
  margin: 0 auto;
  padding: 10px;
  white-space: pre-wrap;
  overflow: auto;
}

.form__button {
  width: 100px;
  outline: none;
  background-color: #dbeaf0;
  border-color: #8bb0e7;
  border-radius: 4px;
  font-size: 15px;
  max-width: 130px;
  margin: 7px auto 9px auto;
}
/* .form__button-choice {
  jhb
} */
.form__button:hover,
.form__button:focus {
  border-color: #dbd9d9;
  background-color: #748e92;
  color: #ffffff;
}


.form__button:active {
  background-color: #eb8b1e;
}

.textarea-output {
  width: 100%;
}

@media screen and (min-width: 340px) {
  .wrapper {
      padding: 20px;
    }

  .logo {
    font-size: 24px;
  }

  .form__button-choice {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 240px;
  }


  .form__button {
    margin: 12px 0;
  }
    /* .form__button:not(:last-child) {
      margin-right: 10px;
    } */
  .title {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .description {
    font-size: 15px;
    /* margin-bottom: 3px; */
  }
}

@media screen and (max-width: 399px) {
  .header {
    padding: 5px 15px;
  }
  .method-description {
    font-size: 13px;
  }
  .form__button {
    display: flex;
  }
  .form__button-wrapper {
    display: flex;
    margin: 0 auto;
  }
  .site-nav__element {
    font-size: 14px;
  }
}

@media screen and (min-width: 400px) {
  .site-nav {
      display: flex;
      margin-top: 4px;
    }
  .site-nav__element:not(:first-child) {
    margin-left: 5px;
  }
}

@media screen and (min-width: 500px) {
  .wrapper {
      padding: 30px;
    }

  .site-nav {
    display: flex;
  }
  
  .form__button-choice {

    /* margin: 0 auto; */
    width: 380px;
  }

  .form__button {
    margin: 12px 0;
  }

  /* .form__button:not(:last-child) {
      margin-right: 10px;
    } */
  .title {
    font-size: 20px;
    /* margin-bottom: 15px; */
  }

  .description {
    font-size: 15px;
    /* margin-bottom: 15px; */
  }
}

@media screen and (min-width: 690px) {
  .container {
      width: 670px;
      margin: 0 auto;
  }
  .title {
    font-size: 25px;
    /* margin-bottom: 15px; */
  }
  .description-box {
    margin: 0 25px 15px 25px;
  }
}

@media screen and (min-width: 775px) {
  .container {
    width: 776px;
  }
}



/* @media screen and (min-width: 357px) and (max-width: 483px) {} */