/*===================== General parameters =====================*/
* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #212121;
  line-height: 1.5;
}

/* img {
  display: block;
  max-width: 100%;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.link {
  text-decoration: none;
}

.main {
  background-color: #fcfcfc;
}

.container {
  width: 100%;
  padding-left:15px;
  padding-right: 15px;
}

/*===================== General parameters END =====================*/

/*===================== HEADER =====================*/

.header {
  background-color: #3f3f3f;
}

.header .container {
  display: flex;
  padding-top: 13px;
  padding-bottom: 13px;
  background-color: #000000;
}

/*logo*/
.logo {
  color: #e2e2e1;
  font-size: 20px;
  margin: auto 0;
}

.logo-first {
  color: #66d4f5;
}

/* Site - navigation */
.site-nav {
  margin-left: auto;
}

.site-nav__element {
  color: #e2e1e1;

  padding: 3px 5px 0 5px;
  width: auto;
  height: 30px;
}

.site-nav__element:hover,
.site-nav__element:active {
  background-color: #616161;
}

.language {
  cursor: pointer;
}

/*===================== HEADER END =====================*/

/*===================== MAIN =====================*/


.wrapper {
  background-color: #f0f6f3;
  /* background-color: #fcfcfc; */
    padding-top: 12px;
    padding-bottom: 12px;
}

/*===================== MAIN END =====================*/

/*===================== MAIN FORM =====================*/
/* .method-description {
  font-size: 13px;
} */

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

.form__method-wrapper {
  display: flex;
  flex-direction: column;
}

.form__choice-wrapper {
  display: flex;
  margin: 0 auto;
}

.form__format-choice:not(:first-child) {
  margin-left: 15px;
}


.textarea-input {
  font-family: system-ui;
  font-size: 15px;
  background-color: #f4fafa;
  border: 2px solid #202020;
  margin-bottom: 5px;
  padding: 10px;
  height: 150px;
  resize: none;
}

.textarea-output {
  font-family: system-ui;
  font-size: 15px;
  width: 100%;
  height: 150px;
  background-color: #f4fafa;
  border: 2px solid #000000;
  margin: 0 auto;
  padding: 10px;
  white-space: pre-wrap;
  overflow: auto;
}

.form__button {
  width: 100px;
  outline: none;
  background-color: #dbeaf0;
  border-color: #8bb0e7;
  border-radius: 4px;
  font-size: 15px;
  max-width: 130px;
  margin: 7px auto 9px auto;
}

/* .form__button-choice {
  jhb
} */
.form__button:hover,
.form__button:focus {
  border-color: #dbd9d9;
  background-color: #748e92;
  color: #ffffff;
}


.form__button:active {
  background-color: #eb8b1e;
}
/*===================== MAIN FORM END =====================*/

/*===================== TEXT COMPONENTS =====================*/

.title {
  font-size: 15px;
  margin-bottom: 10px;
  text-align: center;
}

.description {
  font-size: 12px;
  margin-bottom: 15px;
  /* margin-bottom: 12px; */
  text-align: justify;
}

.description-box {
  background-color: #ececeb;
  /* margin: 0 25px 15px 25px; */
  padding: 5px 25px;
  width: auto;
  overflow: auto;
}

/*===================== TEXT COMPONENTS END =====================*/




@media screen and (min-width: 340px) {
  .container {
      padding-left: 20px;
      padding-right: 20px;
    }

  .logo {
    font-size: 24px;
  }

  .form__button-choice {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 240px;
  }


  .form__button {
    margin: 12px 0;
  }
    /* .form__button:not(:last-child) {
      margin-right: 10px;
    } */
  .title {
    font-size: 18px;
    /* margin-top: 15px; */
    margin-bottom: 15px;
  }
  .description {
    font-size: 15px;
    /* margin-bottom: 3px; */
  }
}

@media screen and (max-width: 399px) {
  /* .header {
    padding: 5px 15px;
  } */
  .form__format-description {
    font-size: 13px;
  }
  .form__button {
    display: flex;
  }
  .form__button-wrapper {
    display: flex;
    margin: 0 auto;
  }
  .site-nav__element {
    font-size: 14px;
  }
}

@media screen and (min-width: 400px) {
  .site-nav {
      display: flex;
      margin-top: 4px;
    }
  .site-nav__element:not(:first-child) {
    margin-left: 5px;
  }
  .form__format-description {
    padding: 5px;
  }
}

@media screen and (min-width: 500px) {
  .container {
      padding-left: 30px;
      padding-right: 30px;
    }

  .site-nav {
    display: flex;
  }

  .form__method-wrapper {
    flex-direction: row;
  }

  .form__choice-wrapper {
    margin: 0 auto 0 25px;
  }

  .form__button-choice {

    /* margin: 0 auto; */
    width: 380px;
  }

  .textarea-input,
  .textarea-output {
    height: 200px;
  }

  .form__button {
    margin: 12px 0;
  }

  /* .form__button:not(:last-child) {
      margin-right: 10px;
    } */
  .title {
    font-size: 20px;
    /* margin-bottom: 15px; */
  }

  .description {
    font-size: 15px;
    /* margin-bottom: 15px; */
  }
}

@media screen and (min-width: 642px) and (max-width: 689px) {
  .form__choice-wrapper {
    margin-left: auto;
    margin-right: calc((100vw / 2) - 105px);
  }
  
}

@media screen and (min-width: 690px) {
  .container {
      width: 690px;
      margin: 0 auto;
  }
  .title {
    font-size: 25px;
    /* margin-bottom: 15px; */
  }
  .description-box {
    margin: 0 25px 15px 25px;
  }
  .textarea-input,
  .textarea-output {
    height: 250px;
  }
  .form__choice-wrapper {
    margin-left: auto;
    margin-right: calc((100vw / 2) - 105px - ((100vw - 690px)/2));
  }
}

@media screen and (min-width: 775px){
  .container {
    width: 776px;
  }
  .form__choice-wrapper {
    /* margin-left: auto; */
    margin-right: calc((100vw / 2) - 105px - ((100vw - 775px)/2));
  }
}

@media screen and (min-width: 1000px) {
  /* .wrapper {
      padding: 30px 0;
    } */
  .container {
    width: 1000px;
  }
  .form__choice-wrapper {
    /* margin-left: auto; */
    margin-right: calc((100vw / 2) - 105px - ((100vw - 999px)/2));
  }
  .logo {
    font-size: 30px;
  }
  .title {
    font-size: 30px;
  }
  .description {
    font-size: 20px;
  }
  .description-box {
    font-size: 15px;
  }
  .site-nav__element {
    font-size: 20px;
  }
}





/* @media screen and (min-width: 357px) and (max-width: 483px) {} */